<!--
File: views/customize.handlbars
Purpose: The HTML files and components that are shown on the webpage. The
data visualization (animal shelter statistics, cat facts, and a live visual
representation of users' preferences on cat colors) is shown to the user
on this screen. There are also options to go back to home page, build a cat
again, or click a button to take the users to a pet adoption website.
-->


<html>

<head>
	<title>Build-A-Cat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.css">
	<script src="https://cdn.jsdelivr.net/npm/d3@5.4.0/dist/d3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/c3@0.6.0/c3.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">

	<script>
		let black = 0;
		let darkgrey = 0;
		let lightgrey = 0;
		let white = 0;
		let brown = 0;
		let orange = 0;

		$(document).ready(() => {
			const database = firebase.database();

			database.ref('cats/color/black/number').once('value', (snapshot) => {
				black = snapshot.val();
				console.log("Black value in js is: " + black);
				localStorage.setItem("black", JSON.stringify(black));
			});
			database.ref('cats/color/darkgrey/number').once('value', (snapshot) => {
				darkgrey = snapshot.val();
				localStorage.setItem("darkgrey", JSON.stringify(darkgrey));
			});
			database.ref('cats/color/lightgrey/number').once('value', (snapshot) => {
				lightgrey = snapshot.val();
				localStorage.setItem("lightgrey", JSON.stringify(lightgrey));
			});
			database.ref('cats/color/white/number').once('value', (snapshot) => {
				white = snapshot.val();
				localStorage.setItem("white", JSON.stringify(white));
			});
			database.ref('cats/color/brown/number').once('value', (snapshot) => {
				brown = snapshot.val();
				localStorage.setItem("brown", JSON.stringify(brown));
			});
			database.ref('cats/color/orange/number').once('value', (snapshot) => {
				orange = snapshot.val();
				localStorage.setItem("orange", JSON.stringify(orange));
			});

			database.ref('cats/color/').on('value', (snapshot) => {
				const allColors = snapshot.val();
				console.log('cats/color/ changed', allColors);
				if (allColors) {
					database.ref('cats/color/black/number').once('value', (snapshot) => {
						black = snapshot.val();
						localStorage.setItem("black", JSON.stringify(black));
					});
					database.ref('cats/color/darkgrey/number').once('value', (snapshot) => {
						darkgrey = snapshot.val();
						localStorage.setItem("darkgrey", JSON.stringify(darkgrey));
					});
					database.ref('cats/color/lightgrey/number').once('value', (snapshot) => {
						lightgrey = snapshot.val();
						localStorage.setItem("lightgrey", JSON.stringify(lightgrey));
					});
					database.ref('cats/color/white/number').once('value', (snapshot) => {
						white = snapshot.val();
						localStorage.setItem("white", JSON.stringify(white));
					});
					database.ref('cats/color/brown/number').once('value', (snapshot) => {
						brown = snapshot.val();
						localStorage.setItem("brown", JSON.stringify(brown));
					});
					database.ref('cats/color/orange/number').once('value', (snapshot) => {
						orange = snapshot.val();
						localStorage.setItem("orange", JSON.stringify(orange));
					});
					var chart4 = c3.generate({
						bindto: '#chart4',
						data: {
							columns: [
								['Black', JSON.parse(localStorage.getItem("black"))],
								['Dark Grey', JSON.parse(localStorage.getItem("darkgrey"))],
								['Light Grey', JSON.parse(localStorage.getItem("lightgrey"))],
								['White', JSON.parse(localStorage.getItem("white"))],
								['Brown', JSON.parse(localStorage.getItem("brown"))],
								['Orange', JSON.parse(localStorage.getItem("orange"))]
							],
							type: 'bar'
						}
					});
				}
			});

		});

	</script>

</head>

<body>

	<div>
		<div id="checkSheltersPage">
			<div class="navbar">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/index">
								<img class="home-button" src="images/house-logo.png" onclick="location.href='/index'" />
							</a>
						</li>
						<li>
							<a href="/customize">
								<img class="home-button" src="images/cat-logo.png" />
							</a>
						</li>
						<li>
							<a href="/checkshelters">
								<img class="home-button" src="images/stats-logo.png" onclick="location.href='/checkshelters'" />
							</a>
						</li>
						<li>
							<a href="https://www.petfinder.com/search/cats-for-adoption/us/ca/san-diego/?distance=10" target="_blank">
								<img class="home-button" src="images/adopt-logo.png" />
							</a>
						</li>
						<li>
							<a>
								<button class="home-button" data-toggle="modal" data-target="#myModal">?</button>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Help! What do I do?</h4>
						</div>
						<div class="modal-body">
							<p>Hover over the graphs for more information! These graphs are for you to visualize some statistics and facts.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<h2 class="text-center">Cat Adoption Facts</h2>

			<hr class="customize" />

			<div class="text-content">
				<p>Courtesy of:
					<a href="https://catalog.data.gov/dataset/animal-services-intake-data-57f73">Animal Services Intake Data</a> from the City of Los Angeles.
				</p>


				<div class="row">
					<div class="col">
						<div class="col-sm-6 graph">
							<h3>Animals taken to shelters in Los Angeles:</h3>
							<div id="chart1"></div>
							<script>
								const numTotalPets = 187593;
								const numCats = 63853;
								const numDogs = 102013;
								const numHorses = 70;
								const numOther = 21658;
								var chart1 = c3.generate({
									bindto: '#chart1',
									data: {
										columns: [
											['Cats', numCats],
											['Dogs', numDogs],
											['Equine', numHorses],
											['Other', numOther]
										],
										type: 'pie'
									}
								});
							</script>
						</div>
						<div class="col-sm-6 graph">
							<h3>Species of cats taken to shelters in Los Angeles: </h3>
							<div id="chart2"></div>
							<script>
								const domSH = 52231;
								const domLH = 2941;
								const bombay = 12;
								const persian = 107;
								const mainecoon = 187;
								const siamese = 1536;
								const amerSH = 1430;
								const russBlue = 241;
								const abyssinian = 95;
								const ragdoll = 55;
								var chart2 = c3.generate({
									bindto: '#chart2',
									data: {
										columns: [
											['Domestic ShortHair', domSH],
											['Domestic LongHair', domLH],
											['Bombay', bombay],
											['Persian', persian],
											['Maine Coon', mainecoon],
											['Siamese', siamese],
											['American Shorthair', amerSH],
											['Russian Blue', russBlue],
											['Abyssinian', abyssinian],
											['Ragdoll', ragdoll]
										],
										type: 'pie'
									}
								});
							</script>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="col-sm-6 graph">
							<h3>Animal Shelter Euthanasia</h3>
							<p>According to
								<a href="https://www.aspca.org/blog/too-many-people-are-still-not-adopting-animals-0">ASPCA:</a>
							</p>
							<div id="chart3"></div>
							<script>
								var chart3 = c3.generate({
									bindto: '#chart3',
									data: {
										columns: [
											['Euthanized animals', 2700000],
											['Non-euthanized animals', 7600000 - 270000]
										],
										type: 'pie'
									}
								});
							</script>
						</div>

						<div class="col-sm-6 graph">
							<h3>Users' cat color choices:</h3>
							<div id="chart4"></div>
							<script>
								var chart4 = c3.generate({
									bindto: '#chart4',
									data: {
										columns: [
											['Black', JSON.parse(localStorage.getItem("black"))],
											['Dark Grey', JSON.parse(localStorage.getItem("darkgrey"))],
											['Light Grey', JSON.parse(localStorage.getItem("lightgrey"))],
											['White', JSON.parse(localStorage.getItem("white"))],
											['Brown', JSON.parse(localStorage.getItem("brown"))],
											['Orange', JSON.parse(localStorage.getItem("orange"))]
										],
										type: 'bar'
									}
								});
								console.log("Black in handlebars is: " + JSON.parse(localStorage.getItem("black")));
							</script>
						</div>
					</div>
				</div>

				<hr class="customize"/>
				<div class="row">
					<div class="col">
						<div class="col-sm-12">
							<h3>Cat Facts!</h3>
							<p>According to
								<a href="https://www.aspca.org/animal-homelessness/shelter-intake-and-surrender/pet-statistics">ASPCA</a> and the
								<a href="http://americanpetproducts.org/Uploads/MemServices/GPE2017_NPOS_Seminar.pdf"> APPMA</a>:</p>
							<p>6.5 million companion animals come into US animal shelters every year. 3.2 million of them are cats.</p>
							<p>20% of cats in American homes were adopted from a shelter.</p>
							<p>5% of cat owners hold holiday/birthday parties for their cat(s).</p>
						</div>
					</div>
				</div>
				<div class="graph-buttons">
					<div>
						<button type="button" class="btn btn-danger" id="backResults" onclick="location.href='/customize'">Build a cat!</button>
					</div>
					<div style="padding:10px;">
						<a href="https://www.petfinder.com/search/cats-for-adoption/us/ca/san-diego/?distance=10" target="_blank">
							<button type="button" class="btn btn-primary" id="checkCats">Adopt a cat!</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyAp3DYmCAGJNKpsrCIbDD-mdKP7RnbpG9k",
			authDomain: "build-a-cat.firebaseapp.com",
			databaseURL: "https://build-a-cat.firebaseio.com",
			projectId: "build-a-cat",
			storageBucket: "build-a-cat.appspot.com",
			messagingSenderId: "327541641073"
		};
		firebase.initializeApp(config);
	</script>

</body>

</html>
