<html>

  <head>
  	<title>Build-A-Cat</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  	<link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/material-kit.css">
  	<link rel="stylesheet" href="css/styles.css">


  	<body>
  </head>

  <body>

  	<div>
  		<div id="checkSheltersPage">
  			<h1 class="text-center">Do you want to check out some cats for adoption?</h1>

  			<hr class="adoptResults"/>

  			{{!--
  			<div class="panel-row">
  				<!--text-center, btn class are from boostrap css -->
  				<div id="catResults1" class="panel-column"></div>
  				<div id="catResults2" class="panel-column"></div>
  			</div> --}}

  			<div id="photos">
  				<!--text-center, btn class are from boostrap css -->

  			</div>

  			<div class="text-center">
  				<button type="button" class="btn btn-danger" id="backResults">Build a cat!</button>
  			</div>
  		</div>
  	</div>

    <script type="text/javascript" language="javascript"  src="https://fpm.petfinder.com//js/quicksearch.js"></script>
    	<script language="javascript">quickSearchHz2(12);</script>

  	<script src="js/checkshelters.js"></script>

  </body>

  </html>
