<html>

  <head>
  	<title>Build-A-Cat</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  	<link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/material-kit.css">
  	<link rel="stylesheet" href="css/styles.css">


  	<body>
  </head>

  <body>

  	<div>
  		<div id="checkSheltersPage">
  			<h1 class="text-center">Cat Adoption Facts</h1>

  			<hr class="adoptResults"/>

  			{{!--
  			<div class="panel-row">
  				<!--text-center, btn class are from boostrap css -->
  				<div id="catResults1" class="panel-column"></div>
  				<div id="catResults2" class="panel-column"></div>
  			</div> --}}

  			<div id="photos">
  				<!--text-center, btn class are from boostrap css -->

  			</div>

  			<div class="text-center">
  				<button type="button" class="btn btn-danger" id="backResults">Alternatively, build a cat!</button>
  			</div>
  		</div>
  	</div>

    <div class="text-center" style="padding:10px;">
        <button type="button" class="btn btn-primary" id="checkCats" href="https://www.petfinder.com/search/cats-for-adoption/us/ca/san-diego/?distance=10">Or adopt a cat near you</button>
    </div>

  	<script src="js/checkshelters.js"></script>

  </body>

  </html>
