<html>

<head>
	<title>Build-A-Cat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">


	<body>
</head>

<body>

	<div>
		<div class="navbar">
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="/index">
							<img class="home-button" src="images/house-logo.png" onclick="location.href='/index'" />
						</a>
					</li>
					<li>
						<a href="/customize">
							<img class="home-button" src="images/cat-logo.png" />
						</a>
					</li>
					<li>
						<a href="/checkshelters">
							<img class="home-button" src="images/stats-logo.png" onclick="location.href='/checkshelters'" />
						</a>
					</li>
					<li>
						<a href="https://www.petfinder.com/search/cats-for-adoption/us/ca/san-diego/?distance=10" target="_blank">
							<img class="home-button" src="images/adopt-logo.png" />
						</a>
					</li>
					<li>
						<a>
							<button class="home-button" data-toggle="modal" data-target="#myModal">?</button>
						</a>
					</li>
				</ul>
			</div>
		</div>

		{{!--
		<div class="navbar navbar-expand-md">
			<img class="home-button" src="images/house-logo.png" onclick="location.href='/index'" />
			<img class="home-button" src="images/cat-logo.png" onclick="location.href='customize'" />
			<img class="home-button" src="images/stats-logo.png" onclick="location.href='/checkshelters'" />
			<a href="https://www.petfinder.com/search/cats-for-adoption/us/ca/san-diego/?distance=10" target="_blank">
				<img class="home-button" src="images/adopt-logo.png" />
			</a>

			<button class="home-button" data-toggle="modal" data-target="#myModal">?</button>
		</div> --}}

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Help! What do I do?</h4>
					</div>
					<div class="modal-body">
						<p>Adjust the dot on the sliders to customize the distance between the cat's eyes, ears, and eyes to mouth. After you
							are finished, click "SHOW ME MY CATS!" to find the cat matches based on your customization!
							<p> If you wish to make changes to your ideal cat, click the "BUILD ANOTHER CAT!" button to go back to the customize page.</p>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


		<div id="customizePage">
			<h2 class="text-center">Build your cat!</h2>

			<hr class="customize" />

			<div class="customize-body">

				<div class="col-lg-6 customize-cat ">
					<!--<img src="images/cat1.png" / width="400" height="400">-->
					<img src="images/cathead_black.png" class="catFace img-responsive" id="face" />
					<img src="images/cateye.png" class="leftEye img-responsive" id="leftEyeball" />
					<img src="images/cateye2.png" class="rightEye img-responsive" id="rightEyeball" />
					<img src="images/catMouth.png" class="catMouth img-responsive" id="mouth" />
					<img src="images/catears_black.png" class="catHead img-responsive" id="catHead" />
				</div>

				<div id="_sliders" class="col-lg-6 img-responsive sliders">
					<div class="slidecontainer">
						<h3>Eyes</h3>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange" hspace="20">
						<p>Value:
							<span id="demo"></span>
						</p>
					</div>

					<div class="slidecontainer">
						<h3>Ears</h3>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
						<p>Value:
							<span id="demo2"></span>
						</p>
					</div>

					<div class="slidecontainer">
						<h3>Eyes to mouth</h3>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
						<p>Value:
							<span id="demo3"></span>
						</p>
					</div>

					<h3 class="slidecontainer">Color:
						<span id="colorName">black</span>
					</h3>
					<div class="colorcontainer">
						<div class="btn btn-hover black" onclick="updateColor('black')"></div>
						<div class="btn btn-hover dark-grey" onclick="updateColor('dark grey')"></div>
						<div class="btn btn-hover light-grey" onclick="updateColor('light grey')"></div>
						<div class="btn btn-hover white" onclick="updateColor('white')"></div>
						<div class="btn btn-hover brown" onclick="updateColor('brown')"></div>
						<div class="btn btn-hover orange" onclick="updateColor('orange')"></div>
						<br/>
						<br/>
					</div>


					<!-- text-center, btn class are from bootstrap css -->
					<div class="customize-buttons">
						<button type="button" class="btn btn-primary" id="doneCustomize" style="background-color: #77d68f">Show me my cats!</button>
					</div>

				</div>
			</div>
		</div>

		<div id="resultsPage">
			<h2 class="text-center">Are these your ideal cats?</h2>

			<hr class="customize" />

			<div id="photos"></div>

			<div class="text-center">
				<button type="button" class="btn btn-danger" id="backResults">Build another cat!</button>
			</div>
			<div class="text-center" style="padding:10px">
				<button type="button" class="btn btn-primary" onclick="location.href='/checkshelters'">Check out Cat Facts!</button>
			</div>
		</div>
	</div>


	<script src="js/customize.js"></script>

</body>

</html>