<html>

<head>
	<title>Build-A-Cat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">


	<body>
</head>

<body>

	<div>
		<button class="w3-xlarge w3-circle pull-right" style="margin-right: 20px; padding: 10px 15px 10px 15px; background-color: #a09b9a; color: white;"
		 data-toggle="modal" data-target="#myModal">?</button>


		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Help! What do I do?</h4>
					</div>
					<div class="modal-body">
						<p>Adjust the dot on the sliders to customize the distance between the cat's eyes, ears, and eyes to mouth. After you
							are finished, click "SHOW ME MY CATS!" to find the cat matches based on your customization!
							<p> If you wish to make changes to your ideal cat, click the "BUILD ANOTHER CAT!" button to go back to the customize page.</p>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


		<div id="customizePage">
			<h1 class="text-center">Customize your cat!</h1>

			<hr class="customize"/>

			<div class="customize-body">

				<div class="col-lg-6 customize-cat ">
					<!--<img src="images/cat1.png" / width="400" height="400">-->
					<img id="face" src="images/catHeadBlack.png" class="catFace img-responsive" />
					<img src="images/cateye.png" class="leftEye img-responsive" id="leftEyeball" />
					<img src="images/cateye2.png" class="rightEye img-responsive" id="rightEyeball" />
					<img src="images/catMouth.png" class="catMouth img-responsive" id="mouth" />
					<img src="images/catEarBlack.png" class="catleftEGrey img-responsive" id="leftEGrey" />
					<img src="images/catEarBlack2.png" class="catrightEGrey img-responsive" id="rightEGrey" />



					<!--
				<div class="inner">
					<img src="images/cateye.png" />
				</div> -->

				</div>

				<!--
		<div class="col-lg-6 catFace">
			<img src="images/catface.png" class="col-lg-6" width="400" height="auto" />
			<div>
				<img src="images/cateye.png" class="leftEye" width="30" height="auto" />
				<img src="images/cateye2.png" class="rightEye" width="5%" height="auto" />
				<img src="images/catMouth.png" class="catMouth" width="30%" height="auto"/>
			</div>

		</div> -->


				<div class="col-lg-6 slidecontainer img-responsive">
					<h2>Eyes</h2>
					<div>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange" hspace="20">
						<p>Value:
							<span id="demo"></span>
						</p>
					</div>

					<h2>Ears</h2>
					<div>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
						<p>Value:
							<span id="demo2"></span>
						</p>
					</div>

					<h2>Eyes to mouth</h2>
					<div>
						<input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
						<p>Value:
							<span id="demo3"></span>
						</p>
					</div>

					<h2>Color:
						<span id="colorName">black</span>
					</h2>
					<div class="btn btn-hover black" onclick="updateColor('black')"></div>
					<div class="btn btn-hover dark-grey" onclick="updateColor('dark grey')"></div>
					<div class="btn btn-hover light-grey" onclick="updateColor('light grey')"></div>
					<div class="btn btn-hover white" onclick="updateColor('white')"></div>
					<div class="btn btn-hover brown" onclick="updateColor('brown')"></div>
					<div class="btn btn-hover orange" onclick="updateColor('orange')"></div>
					<br/>
					<br/>

					<!-- text-center, btn class are from bootstrap css -->
					<div class="text-right customize-buttons">
						<button type="button" class="btn btn-primary" id="doneCustomize" style="background-color: #77d68f">Show me my cats!</button>
					</div>

				</div>
			</div>
		</div>

		<div id="resultsPage">
			<h1 class="text-center">Are these your ideal cats?</h1>

			<hr class="customize"/>

			{{!--
			<div class="panel-row">
				<!--text-center, btn class are from boostrap css -->
				<div id="catResults1" class="panel-column"></div>
				<div id="catResults2" class="panel-column"></div>
			</div> --}}

			<div id="photos">
				<!--text-center, btn class are from boostrap css -->

			</div>

			<div class="text-center">
				<button type="button" class="btn btn-danger" id="backResults">Build another cat!</button>
			</div>
			<div class="text-center" style="padding:10px">
				<button type="button" class="btn btn-primary" onclick="location.href='/checkshelters'">Check out cat adoptions</button>
			</div>
		</div>
	</div>


	<script src="js/customize.js"></script>

</body>

</html>
