<html>
<head>
	<title>Build-A-Cat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h1 class="text-center title-text">Build-A-Cat</h1>

	<div class="text-center">
		<div class="pulse1">
			<img src="images/cat-logo.png" /> 
		</div>
	</div>

	<!-- text-center, btn class are from boostrap css -->	
	<div class="text-center">
		<br/><br/>
		<h3>Choose your desired cat specifications, and we'll find a cat for you!</h3><br/>
		<button type="button" class="btn btn-primary" onclick="startButton(); location.href='/customize'">Start now!</button>
	</div>

	<script src="js/index.js"></script>
</body>

</html>
