<html>

<head>
	<title>Build-A-Cat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h1 class="text-center">Are these your ideal cats?</h1>

	<!-- text-center, btn class are from boostrap css -->
	<div class="text-center">
		<button type="button" class="btn btn-primary" onclick="homeButton();">Home</button>
		<button type="button" class="btn btn-danger" onclick="backButton();">Back</button>
	</div>

	<script src="js/results.js"></script>
	
</body>

</html>