<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<!--<link rel="stylesheet" href="css/materials.css"> -->
	<link rel="stylesheet" href="css/material-kit.css">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<h1 class="a" p align="center">Are these your ideal cats?</h1>

	<div >
		<button class="button" align="center" onclick="homeButton();">Home</button>
		<button class="button" align="center" onclick="backButton();">Back</button>
	</div>

	<script src="js/results.js"></script>

</body>

</html>