@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Raleway');

/************************* DEFAULT STYLES ************************/

html{
	font-family: 'Raleway', sans-serif;
}

body{	
	background-color: #dcd4e8;
}

h1{
    font-family: 'Coming Soon', cursive;
    font-size: 5vw;
    padding-top: 3vw;
}

h2, h3, h4, h5, h6, p{
    font-family: 'Raleway', sans-serif;
}

.btn{
    font-family: 'Raleway', sans-serif;
}

.title-text{
    font-size: 7vw;
    padding-top: 3vw;
}


/************************* END DEFAULT STYLES ************************/


/************************* INDEX ********************************/

.pulse1{
    -webkit-animation: pulse1 1.5s linear infinite;
    -moz-animation: pulse1 1.5s linear infinite;
    animation: pulse1 1.5s linear infinite;    
}

@keyframes pulse1{
    0% { -moz-transform: scale(1); opacity: 1; }
    20% { -moz-transform: scale(.97); opacity: 1; }
    40% { -moz-transform: scale(.94); opacity: 1; }
    60% { -moz-transform: scale(.97); opacity: 1; }
    100% { -moz-transform: scale(1); opacity: 1; }
}

@keyframes pulse1 {
    0% { -webkit-transform: scale(1); opacity: 1; }
    20% { -webkit-transform: scale(.97); opacity: 1; }
    40% { -webkit-transform: scale(.94); opacity: 1; }
    60% { -webkit-transform: scale(.97); opacity: 1; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

/************************* END INDEX ********************************/



/************************ CUSTOMIZE PAGE **************************/
.customize-body{
    padding-top: 5%;
}

.customize-cat{
    padding-left: 15%;
}


.slidecontainer {
    padding-left: 5%;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #716c6c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
	transition: opacity .2s;
	padding: 0 10px 0 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer .customize-buttons{
    margin-right: 20%;
}

/*.parent{
    width:100px;
    height:50px;
    position:absolute;
    z-index:0;
}

.inner{
    position:absolute;
    z-index:1;
    bottom:0;
    right:20px;
} */

/*
.cat {
  position: relative;
  display: inline;
  width: 30%
  height: auto;
}

.imtip {
  position: absolute;
  bottom: 0px;
  right: 80px;
  width: 30%;
  height: auto;
} */

/************************ END CUSTOMIZE PAGE **************************/

/************************ CAT PICTURES PANEL *************************/

.panel-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create two equal columns that sits next to each other */
.panel-column {
    flex: 50%;
    padding: 0 4px;
}

.panel-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Clear floats after the columns */
.panel-column:after {
    content: "";
    display: table;
    clear: both;
}

/************************ END CAT PICTURES PANEL *************************/



/************************* MISC ******************************/

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/************************* END MISC ******************************/
